doctype html
html
    head
        title Amazon Rift
        link(rel="stylesheet", href="/styles/combined.css")
        script(src="/scripts/combined.js")

    body
        block content

        div.row
            p(style="text-align: center")
                | By <a href="http://gelatindesign.co.uk">gelatindesign.co.uk</a>
                | - Code at <a href="https://github.com/lsjroberts/amazon-rift">github</a>

